/elpa
/el-get
/backups
/swank
/auto-save-list
/url
#.*#
/places
/.smex-items
ac-comphist.dat
/eshell
/var/pcache
/tramp
/**/*.elc
/.cask
/.DS_Store
request
/ido.last
.trello
/ido.last~
/smex-items
/lisp/env_variables_for_dev.el
/.lsp-session-v1
/.dap-breakpoints
/.extension/
